<div class="container mx-auto">
    <div class="text-center mx-auto pt-6 font-semibold">
        <h1 class="text-orange-600 text-4xl">Encriptador</h1>
    </div>
    <section class="flex justify-center mt-8 text-center">
        <div class="w-96 h-56 mx-8 bg-sky-200 c-text">
            <p>Escribe el texto aqui</p>
            <textarea class="outline-none bg-sky-200 pt-2"></textarea>

            <div class="flex justify-center space-x-36 pt-3">
                <div>
                    <button class="text-indigo-600 bg-teal-500 rounded-md px-2">Encriptar</button>
                </div>
                
                <div>
                    <button class="text-indigo-600 bg-teal-500 rounded-md px-2">Desencriptar</button>
                </div>
            </div>
        </div>
        <div class="w-96 h-56 mx-8 bg-sky-200 c-text">
            <p>Salida del texto</p>
            <textarea class="outline-none bg-sky-200 pt-2"></textarea>

        </div>
    </section>

</div>